@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Locadora Veículos</h1>
    <p class="lead">Gerenciador da locadora de veículo criada como exercício da disciplina de Engenharia de Software II - FADERGS.</p>
</div>